/* MODULE CALLME - заказ звонка #callme_ - префикс модуля */
.mod-call{
    line-height: 1.3;
}
#callme_module .phone{
    display: block;
    font-size: 24px;
    font-weight: bold;
}
#callme_module .but_callme{
    font-size: 13px;
    text-decoration: none;
}
#callme_popup .form-group label{
    font-weight: bold;
    font-size:14px;
}
#callme_popup #form_error{
    display: block;
    height: 20px;
    padding: 0 0 8px;
    text-align: center;
}
#callme_popup #form_error .mess{
    color: red;
    font-family: 'Trebuchet MS', sans-serif;
    display: none;
}
#callme_popup .callstar {
    color: red;
    font-family: Tahoma;
    font-size: 13px;
    font-style: normal;
    padding: 0 3px;
}
#callme_popup .callmehint {
    color: #4C4C4C;
    font-family: 'Trebuchet MS', sans-serif;
    font-size: 14px;
    padding: 10px 0 0;
}
#sendresult{
    font-size: 30px;
    font-weight: normal;
    line-height: 1.3;
    padding: 15px;
    text-align: center;
}
#sendresult .call-success { color: green; }
#sendresult .call-error{ color:red; }
/* END module callme */